html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
}
#working-area {
}
#preview {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 50%;
  margin: 0;
  width: calc(100% - 2px);
}
#tags-label {
  color: gray;
  font-size: 1rem;
  height: 1.1rem;
}
::selection {
  background: #bbf;
}
#tsumiqiita-editor {
  overflow-x: scroll;
  overflow-y: scroll;
  border: 1px solid darkgray;
  height: calc(50% - 20px - 1.1rem);
  margin: 0;
  resize: none;
  width: calc(100% - 22px);
}
::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
#controls {
  width: 30%;
}
#header {
  display: flex;
  width: 30%;
  height: 2rem;
  font-size: 2rem;
  margin: 1rem;
}
#files {
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(calc(100% - 2rem) * 0.9);
  width: calc(100% - 20px);
}
.files-item-radio {
  display: none;
}
.files-item-div {
  border-bottom: 1px solid #eee;
  margin:1rem;
}
input[type="radio"]:checked + .files-item-label {
  color: #fff;
  background-color: deepskyblue;
}
.files-item-label {
  display: block;
  font-size: 1.3rem;
  margin: 0;
  height: 100%;
  width: 100%;
  white-space: nowrap;
}
.menu-item-radio {
  display: none;
}
.menu-item-div {
  border-bottom: 1px solid #eee;
  margin:1rem;
}
input[type="radio"]:checked + .menu-item-label {
  color: #fff;
  background-color: deepskyblue;
}
.menu-item-label {
  display: block;
  font-size: 1.3rem;
  margin: 0;
  height: 100%;
  width: 100%;
  white-space: nowrap;
}
div.target-dir {
  border-bottom: 1px solid #eee;
  font-size: 1.5rem;
  margin: 0;
  height: 5%;
  white-space: nowrap;
  width: 100%;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}
/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 60px;
  height: 44px;
  vertical-align: middle;
}
/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 7px;/*線の太さ*/
  width: 40px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span {
  margin-left: 1rem;
}
#nav-open span:before {
  bottom: -14px;
}
#nav-open span:after {
  bottom: -28px;
}
/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}
/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}
#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}